.featured .box {
  box-shadow: 0 0 20px 0 rgb(112 121 138 / 18%);
  border-radius: 6px;
  text-align: center;
  padding: 30px;
  cursor: pointer;
}
/* `.featured .box`: Selects elements with the class name `box` that are descendants of elements with the class name `featured`.

`box-shadow: 0 0 20px 0 rgb(112 121 138 / 18%);`: Applies a box shadow effect to the selected elements. The shadow has zero horizontal and vertical offsets, a blur radius of 20 pixels, and uses a color defined in RGBA format. The color is a semi-transparent shade of gray with RGB values of (112, 121, 138) and an alpha value of 18%.

`border-radius: 6px;`: Sets the border radius of the selected elements to 6 pixels, giving them slightly rounded corners.

`text-align: center;`: Centers the text content horizontally within the selected elements.

`padding: 30px;`: Adds 30 pixels of padding to all four sides of the selected elements, creating space between the element's content and its border.

`cursor: pointer;`: Changes the mouse cursor to a pointer when hovering over the selected elements, indicating that they are clickable. */
.featured img {
  width: 65px;
  height: 65px;
  margin: auto;
}
/* `.featured img`: Selects `img` elements that are descendants of elements with the class name `featured`.

 `width: 65px;`: Sets the width of the selected `img` elements to 65 pixels.

`height: 65px;`: Sets the height of the selected `img` elements to 65 pixels.

`margin: auto;`: Centers the selected `img` elements horizontally within their parent containers by setting their left and right margins to automatic. */
