.team .box {
  background: #ffffff;
  border-radius: 6px;
  border: 1px solid rgb(62 28 131 / 10%);
  padding: 2rem;
  transition: 0.5s;
}
/* `.team .box`: This targets elements with the class name `.box` that are descendants of elements with the class name `.team`.
   
 `background: #ffffff;`: Sets the background color to white.

 `border-radius: 6px;`: Sets the border radius to create rounded corners with a radius of 6 pixels.

 `border: 1px solid rgb(62 28 131 / 10%);`: Sets a 1 pixel solid border with a color that is 10% opaque purple (RGB: 62, 28, 131).

 `padding: 2rem;`: Sets the padding inside the box to 2 times the size of the root element's font size.

 `transition: 0.5s;`: Adds a transition effect with a duration of 0.5 seconds to smoothly animate changes in CSS properties. */
.team .box:hover {
  box-shadow: 0 0 20px 0 rgb(112 121 138 / 18%);
  cursor: pointer;
}
/* `.team .box:hover`: Targets elements with the class name `.box` that are descendants of elements with the class name `.team` when they are being hovered over.

 `box-shadow: 0 0 20px 0 rgb(112 121 138 / 18%);`: Adds a shadow effect with a blur radius of 20 pixels, 0 horizontal and vertical offset, and a color that is 18% opaque grayish-blue (RGB: 112, 121, 138) when the box is hovered over.

 `cursor: pointer;`: Changes the cursor to a pointer (usually indicating a clickable element) when hovering over the box. */
.team .details {
  text-align: center;
  margin-top: 30px;
}
/* `.team .details`: Targets elements with the class name `.details` that are descendants of elements with the class name `.team`.

 `text-align: center;`: Centers the text content within the element horizontally.

`margin-top: 30px;`: Adds a top margin of 30 pixels to the element. */
.team .img {
  width: 90px;
  height: 90px;
  margin: auto;
  position: relative;
}
/*  */
.team img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
}
/*  */
.team .img i {
  color: #108be7;
  font-size: 17px;
  position: absolute;
  top: 35px;
  right: -10px;
}
.team .img::after {
  content: "";
  position: absolute;
  top: -15px;
  left: -15px;
  width: 110px;
  height: 110px;
  border: 5px solid #edf0f5;
  border-radius: 50%;
}
.team label {
  display: inline-block;
  margin-top: 20px;
}
.team i {
  color: grey;
  margin-right: 5px;
}
.team ul {
  display: inline-block;
  margin-top: 10px;
}
.team ul li {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  align-items: center;
  background-color: #f4f5f7;
  border-radius: 50%;
  margin: 5px;
}
.team .button {
  margin-top: 20px;
}
.team .button i {
  color: white;
  font-size: 20px;
}
/* The rest of the CSS follows a similar pattern, targeting specific elements within the `.team` class and styling them accordingly. */
