header {
  background-color: #fff;
  height: 10vh;
  box-shadow: 0 5px 30px rgb(0 22 84 / 10%);
  padding: 15px 0;
  position: sticky;
  top: 0;
  z-index: 99999;
}
/* - `background-color`: Sets the background color of the header to white (#fff).
- `height`: Sets the height of the header to 10% of the viewport height (10vh).
- `box-shadow`: Adds a box shadow to the header, providing a visual effect. It has 0 horizontal offset, 5px vertical offset, 30px blur radius, and a color defined in rgba format, with the color being a slightly transparent blue.
- `padding`: Adds padding of 15px on the top and bottom, and 0 on the left and right, within the header.
- `position`: Sets the position of the header to sticky, meaning it remains fixed at the top of the viewport when scrolling.
- `top`: Sets the distance of the header from the top of the viewport to 0 pixels.
- `z-index`: Sets the stacking order of the header, ensuring it stays above other elements on the page. */
header img {
  width: 170px;
}
/* - `width`: Sets the width of images within the header to 170 pixels. */
header a {
  margin-left: 30px;
  transition: 0.5s;
  font-weight: 500;
}
/* - `margin-left`: Adds a left margin of 30px to anchor elements within the header.
- `transition`: Sets the transition effect to apply over 0.5 seconds for smooth color changes on hover.
- `font-weight`: Sets the font weight of anchor elements to 500. */
header a:hover {
  color: #27ae60;
}
/* - `color`: Changes the text color of anchor elements within the header to a green shade (#27ae60) when hovered over. */
header span {
  width: auto;
  padding: 0px 6px;
  background: #27ae60;
  border-radius: 50px;
  color: #ffffff;
  margin-right: 4px;
  font-weight: 400;
}
/* - `width`: Sets the width of span elements to auto, allowing them to expand to fit their content.
- `padding`: Adds 0px padding on the top and bottom, and 6px on the left and right, within the span elements.
- `background`: Sets the background color of span elements to a green shade (#27ae60).
- `border-radius`: Rounds the corners of span elements, creating a circular appearance.
- `color`: Sets the text color of span elements to white (#ffffff).
- `margin-right`: Adds a right margin of 4px to span elements.
- `font-weight`: Sets the font weight of span elements to 400. */
header h4 {
  font-weight: 500;
  margin-right: 20px;
}
header .toggle {
  display: none;
}
@media screen and (max-width: 768px) {
  header {
    padding: 0;
  }
  /* - `@media screen and (max-width: 768px)`: This is a media query that targets screens with a maximum width of 768 pixels.
- `header`: This targets the header element.
- `padding`: Sets the padding of the header to 0 on all sides, effectively removing any vertical padding.
 */
  header img {
    margin-top: 30px;
  }
  /* - This targets images within the header element.
- `margin-top`: Adds a top margin of 30px to images within the header, pushing them down from the top of the header. */
  header .button {
    display: none;
  }
  /* - This targets elements with the class `.button` within the header.
- `display`: Sets the display property to none, hiding these elements. */
  header .nav .flex {
    display: none;
  }
  /* - This targets elements with the class `.flex` within `.nav` within the header.
- `display`: Sets the display property to none, hiding these elements. */
  header .toggle {
    display: block;
    margin-top: 20px;
  }
  /* - This targets elements with the class `.toggle` within the header.
- `display`: Sets the display property to block, making these elements visible.
- `margin-top`: Adds a top margin of 20px to these elements, pushing them down from the top of the header. */
  header .small {
    position: absolute;
    top: 10vh;
    left: 0;
    width: 100%;
    background-color: #27ae60;
    padding: 20px;
  }
  /* - This targets elements with the class `.small` within the header.
- `position`: Sets the position of these elements to absolute, positioning them relative to the nearest positioned ancestor (in this case, the header).
- `top`: Sets the distance of these elements from the top of the header to 10% of the viewport height (10vh).
- `left`: Sets the distance of these elements from the left edge of the header to 0.
- `width`: Sets the width of these elements to 100% of the header width.
- `background-color`: Sets the background color of these elements to a green shade (#27ae60).
- `padding`: Adds padding of 20px within these elements. */
  header li a {
    display: inline-block;
    margin-bottom: 20px;
    color: #fff;
  }
}
/* - This targets anchor elements (`<a>`) within list items (`<li>`) within the header.
- `display`: Sets the display property to inline-block, allowing these elements to be block-level and inline at the same time.
- `margin-bottom`: Adds a bottom margin of 20px to anchor elements, creating space between them.
- `color`: Sets the text color of anchor elements to white (#fff). */
