.about {
  margin-bottom: 80px;
}
/* This sets a bottom margin of 80px for elements with the class `.about`. */
.about .heading {
  text-align: left;
  width: 100%;
  margin-bottom: 30px;
}
/* This targets elements with the class `.heading` that are descendants of elements with the class `.about`. 
It aligns the text to the left, sets the width to 100% of the parent element, and adds a bottom margin of 30px. */
.about p {
  font-size: 15px;
  padding-right: 30px;
  margin-bottom: 20px;
  line-height: 30px;
}
/* This targets `<p>` elements that are descendants of elements with the class `.about`. 
It sets the font size to 15px, adds 30px of padding to the right, sets a bottom margin of 20px, and sets the line height to 30px. */
@media screen and (max-width: 768px) {
  .about .container {
    flex-direction: column;
  }
  .about p {
    padding: 0;
  }
  .about .container img {
    margin-top: 50px;
  }
}
/* This is a media query that applies the following styles when the screen width is 768px or less. 
It targets the `.container` class within elements with the class `.about` and changes the flex-direction to column. 
It also removes padding from `<p>` elements within `.about` and adds a top margin of 50px to images within `.container`. 
This is typically used for responsive design, adjusting the layout and styles based on the screen size. */
